---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php?action=query&exintro=&explaintext=&format=json&prop=extracts&titles=dog
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=45350 t=1513237273930336
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 113.196.182.8
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"dog","to":"Dog"}],"pages":{"4269567":{"pageid":4269567,"ns":0,"title":"Dog","extract":"The
        domestic dog (Canis lupus familiaris or Canis familiaris) is a wolf-like canid
        in the genus Canis, and is the most widely abundant terrestrial carnivore.
        The dog and the extant gray wolf are sister taxa as modern wolves are not
        closely related to the wolves that were first domesticated, which implies
        that the direct ancestor of the dog is extinct. The dog is the first species
        to be domesticated and has been selectively bred over millennia for various
        behaviors, sensory capabilities, and physical attributes.\nNew research seems
        to show that the dog''s high sociability may be affected by \"the same genes
        as in humans.\" Their long association with humans has led dogs to be uniquely
        attuned to human behavior and they are able to thrive on a starch-rich diet
        that would be inadequate for other canid species. Dogs vary widely in shape,
        size and colors. Dogs perform many roles for people, such as hunting, herding,
        pulling loads, protection, assisting police and military, companionship and,
        more recently, aiding handicapped individuals and therapeutic roles. This
        influence on human society has given them the sobriquet \"man''s best friend\"."}}}}'
  recorded_at: Thu, 14 Dec 2017 07:41:14 GMT
[...]
- request:
    method: post
    uri: https://zh.wikipedia.org/w/api.php?action=query&exintro=&explaintext=&format=json&prop=extracts&titles=%E6%84%9B
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=44373 t=15[...]
