<%= form_with(model: talk, local: true, id: 'my_talk_form') do |form| %>
  <%# form.range_field :rate, min: 0, max: 200, class: 'fixed' %>
  <!-- <input type="checkbox" id='open_edit'/> -->

  <div class="field">
    <%= form.text_area :topic, id: :talk_topic, autocomplete: "off", class: 'speech', autofocus: true %>
  </div>

  <div class="field" hidden>
    <%= form.label :from %>
    <%= form.text_field :from, id: :talk_from, readonly: true, value: params[:f] %>
  </div>
<% end %>
<script>
var a=0;
var aw='';
var b=0;
var s=0;
var sw='';

var int1;
var timer=0;

var delayInMilliseconds = 2000; //1 second

clearInterval(int1);
int1 = setInterval(

  function()
  {
    aw = document.getElementById("talk_topic").value;
    a = aw.length;
    sw = window.getSelection().toString();
    s = sw.length;
    if (a!==b){timer=0}
    if (a!=0 && timer>1){
      timer=-1000
      document.getElementById("my_talk_form").submit();
      document.getElementById("talk_topic").readOnly = true;
    }
    else if (s>0 && timer>1){
      timer=-1000
      setTimeout(function() {
        document.getElementById("talk_topic").value = window.getSelection().toString().trim();
        document.getElementById("my_talk_form").submit();
        document.getElementById("talk_topic").readOnly = true;
      }, delayInMilliseconds);
    }
    else{
      b=a;
      timer=timer+0.5
    }
  }, 500);

  function mic_switch() {
    var x = document.getElementsByClassName("fa-microphone-slash").length;
    if (x != 0) {
      recognition.stop();
    }else{
      recognition.stop();
      recognition.start();
    }
  }
  function lang_switch() {
    var x = document.getElementsByClassName("fa-etsy").length;
    if (x != 0) {
      recognition.lang = 'en';
    }else{
      recognition.lang = 'zh-TW';
    }
  }

  // speech
  var text = document.querySelector(".speech");
  // var startBtn = document.querySelector(".start");

  var recognition = new webkitSpeechRecognition();
  // set params
  recognition.continuous = false;
  // recognition.lang = 'zh-TW'';
  // recognition.lang = 'en-US';
  // recognition.lang = 'en';
  recognition.interimResults = true;

  // start immediately
  // recognition.start();
  recognition.onresult = function(event) {
    var result = event.results[event.results.length - 1];
    text.innerHTML = result[result.length - 1 ].transcript;
  }

  // speech error handling
  recognition.onerror = function(event){
    console.log('error', event);
  }

  recognition.onend = function() {
    console.log("end");
    // auto restart
    // recognition.start();
  }

  // var checkbox = document.querySelector("#open_edit");
  //
  // checkbox.addEventListener( 'change', function() {
  //     if(this.checked) {
  //       document.getElementById("talk_topic").readOnly = false;
  //     } else {
  //       document.getElementById("talk_topic").readOnly = true;
  //     }
  // });
  mic_switch()
  lang_switch()
</script>
