<%= render 'form', talk: @talk %>
<% @talks.each do |talk| %>

    <% talk.each do |talk| %>
        <p><%= link_to talk.topic, new_talk_path(talk_from_id: talk.id, talk_from: talk.topic), autofocus: true %></p>
    <% end %>
<br />
<% end %>
