<p id="notice"><%= notice %></p>
<%= render 'form', talk: @talk %>
<% @talks.each do |talk| %>
    <% talk.each do |talk| %>
        <p><%= link_to(talk.topic, link_by_topic(talk)) %></p>
    <% end %>
<% end %>
<!-- , style: "font-size: #{(parent_talk(talk.id).count-1)+24}px" -->
