<%= link_to '++', new_talk_path %>
<% @talks.each do |talk| %>
<table>
  <tbody>
    <% talk.each do |talk| %>
      <tr>
        <td><%= link_to '+', new_talk_path(talk_from_id: talk.id, talk_from: talk.topic), autofocus: true %></td>
        <td><%= talk.topic.truncate(140) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
------------------
<% end %>
