<!-- <p id="notice"><%# notice %></p>
<p id="notice">Use Chrome & talk to me start with <font color='red'><%# @shiritori_last %></font></p> -->
<%= render 'form', talk: @talk %>
<%# link_to "_", talks_path(format: "csv") %>

<% @talks.each do |talk| %>
    <% talk.each do |talk| %>
        <%= link_to("#{talk.topic}: ", link_by_topic(talk)) %>
        <% links = wiki(talk.topic).split(' ').map{ |x| x.gsub(/[,.():{}]/ ,"")} %>
        <% wiki(talk.topic).split(' ').each_with_index do |x, index| %>
            <%= link_to(x, add_talks_path(t: links[index]) ) %>
        <% end %>
        <p><%# link_to("#{(talk.topic.split('')-[talk.topic.split('').last]).join('')}<font color='red'>#{talk.topic.split('').last}</font>".html_safe, link_by_topic(talk)) %></p>
    <% end %>
<% end %>
<!-- , style: "font-size: #{(parent_talk(talk.id).count-1)+24}px" -->
