<%= render 'form', talk: @talk %>
<% @talks.each do |talk| %>

    <% talk.each do |talk| %>
        <p><%= link_to talk.topic, new_talk_path(f: talk.id), autofocus: true %></p>
    <% end %>
<br />
<% end %>
