<% content_for(:title){ Talk.last.topic }  %>
<!-- <p id="notice"><%# notice %></p>
<p id="notice">Use Chrome & talk to me start with <font color='red'><%# @shiritori_last %></font></p> -->
<%= render 'form', talk: @talk %>
<%# link_to "_", talks_path(format: "csv") %>
<%# column_chart Talk.group_by_hour_of_day(:created_at, format: "%l %P").count , download: true %>

<% @talks.each do |talk| %>
    <% talk.each do |talk| %>
    <p>
        <%# link_to((fa_icon ((session[:mic]=='on') ? "microphone" : "microphone-slash")), mic_talks_path) %>
        <%# link_to((fa_icon ((session[:lang]=='en') ? "etsy" : "language")), lang_talks_path) if (session[:mic]=='on') %>

        <%# link_to((fa_icon "wikipedia-w"), wiki_url(talk.topic, 'url')) %>
        <%# link_to((fa_icon "link"), new_talk_path(f: talk.id)) %>

        <% result = wiki(talk.topic) %>

        <%# result.blank? ? '...' : result %>
    </p>
        <%# words = split_to_words(talk.topic) %>
        <%# links = split_to_links(words, talk.topic) %>
        <%# words.each_with_index do |x, index| %>
            <%# link_to(x, add_talks_path(t: links[index]) ) %>
        <%# end %>
        <%# link_to("#{(talk.topic.split('')-[talk.topic.split('').last]).join('')}<font color='red'>#{talk.topic.split('').last}</font>".html_safe, link_by_topic(talk)) %>
    <% end %>
<% end %>

<%# myurl = "https://www.google.com/search?q=#{Talk.last.topic}&btnI=" %>
<%# "<embed src = #{myurl} width=100% height=1000 />".html_safe %>
<%# "<iframe src = #{myurl} width=100% height=1000 />".html_safe %>

<!-- , style: "font-size: #{(parent_talk(talk.id).count-1)+24}px" -->
