<%= render 'form', talk: @talk %>
<% @talks.each do |talk| %>
<table>
  <tbody>
    <% talk.each do |talk| %>
      <tr>
        <td><%= link_to talk.topic, new_talk_path(talk_from_id: talk.id, talk_from: talk.topic), autofocus: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<% end %>
