/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @media screen and (max-width: 400px) {
 // }

a, p {
  text-decoration: none !important;
}

textarea {
  width: 100%;
  font-size: 1.5em;
}

textarea, input{
    outline: none;
    background-color: transparent;
    border: none;
}

input[type="range"]{
  -webkit-appearance: none;
  overflow: hidden;     /* 限定範圍 */
  width: 90%;
  height: 2em;
  outline: none;      /* 避免點選會有藍線或虛線 */
  background: none;
}

input.fixed {
  position: fixed;
  bottom: 0;
}
