/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @media screen and (max-width: 400px) {
 // }

a, p {
  text-decoration: none !important;
  font-size: 2em;
  line-height: 200%;
}

textarea {
  width: 100%;
  height: 1em;
  font-size: 4em;
  outline: none;
  background-color: transparent;
  border: none;
  overflow: hidden;
  resize: none;
}

input.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input[type="range"]{
  -webkit-appearance: none;
  overflow: hidden;     /* 限定範圍 */
  width: 90%;
  height: 3em;
  outline: none;      /* 避免點選會有藍線或虛線 */
  background: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width: 5px;
  height: 5px;
  background: #f22;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb{
  width:5px;
  height:5px;
  background:#f22;
  border-radius:50%;
  border: none;
}
